* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

main {
  margin-top: 102px;
}

/*Le doy forma a mi container*/
.container_Search_Total {
  padding: 10px 21px 5px 21px;
  margin-top: 60px;
  margin-bottom: 40px;

  /*Le doy forma a mi titulo dentro de mi container*/
  h1 {
    padding: 0px 20px 0px 20px;
    color: #572ee5;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 31px;
  }
  .span_Titulo_Gifos {
    color: #50e3c2;
  }

  /*Pongo en columnas la imagen y textbox*/
  .container_Search_Gifos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .text-suggestion {
      //aca estilizo mi UL
      padding-right: 850px;
    }
    //Le saco los bullet a mis suegerencias dentro del textbox de search
    .sin_bullet {
      padding-left: 5px;
      list-style-image: url(/assets/images/icon-search-mod-noc.svg);
      background-repeat: no-repeat;

      .btn_suggestion {
        background-attachment: red;
      }
    }
    /*Aca le doy las propiedades a la imagen */
    .search_Images {
      max-height: 132px;
      img {
        width: 273px;
      }
    }

    .divider {
      width: 157px;
      height: 1px;
      margin: 0 auto;
      background-color: #9cafc3;
      opacity: 0.5;
      margin: 0 auto;
      margin-top: 35px;
    }

    .searcher_Return {
      display: flex;

      .searcherGalleryResults {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .card {
          width: 156px;
          height: 120px;
          object-fit: cover;
          margin-bottom: 10px;

          img {
            width: 156px;
            height: 120px;
          }
        }
      }
    }
  }

  /*Formulario del Search*/
  .search_Form {
    width: 100%;
    max-height: 200px;
    border: 1px solid #572ee5;
    border-radius: 27px;
    padding: 15px 20px 15px 55px;
    margin-bottom: 31px;
  }
  //.text_box_increase {
    //width: 100%;
    //max-height: 200px;
    //border: 1px solid black;
    //border-radius: 27px;
    //padding: 15px 20px 15px 55px;
    //margin-bottom: 31px;
 // }

  /*Aca le doy formato a mi textbox de search*/
  .textbox_Search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    input {
      border: none;
      color: #000;
      width: 100%;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 400;
      background: transparent;

      &::placeholder {
        color: #6b7989;
      }
      &:focus {
        outline: none;
      }
    }

    /*Aca le doy formato a mi boton de search*/
    #search_Btn {
      background-image: url(/assets/images/icon-search.svg);
      width: 24px;
      height: 24px;
      border: none;
      background-color: transparent;
      background-repeat: no-repeat;
      margin-left: -5px; /*Muevo la lupa*/
      cursor: pointer;
    }
  }

  /*Aca le doy formato al treding*/

  .trending_Text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 236px;

    /*Le doy forma al titulo*/
    h2 {
      font-size: 16px;
      font-weight: 700;
      color: #572ee5;
      text-align: center;
      line-height: 25px;
    }
    /*Le doy forma al parrafo*/
    p {
      font-size: 14px;
      font-weight: 400;
      color: #572ee5;
      text-align: center;
      line-height: 25px;
    }
  }
}

//Titulo_My_Gifos/////
.tittle_my_gyfos {
  .icon {
    text-align: center;
  }
  h2 {
    font-weight: 700;
    font-size: 25px;
    color: #572ee5;
    text-align: center;
    line-height: 30px;
  }
}

.container_trending_gifos {
  h2 {
    font-weight: 700;
    font-size: 25px;
    color: #572ee5;
    text-align: center;
    line-height: 30px;
  }

  .trending_Paragraph {
    margin-bottom: 32px;
    p {
      font-size: 16px;
      font-weight: 400;
      color: #000000;
      text-align: center;
      font-family: "Roboto", sans-serif;
      line-height: 21px;
    }
  }
}

//Estilizo los gifos de trending

.card_trending {
  //MI DIV HTML
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  .card {
    // MI DIV JS
    display: flex;
    width: 243px;
    height: 187px;
    object-fit: cover;
    margin-left: 15px;
    img {
      width: 243px;
      height: 187px;
    }
  }
}
