footer {
  padding: 47px 22px 28px 22px;
  border-bottom: 5px solid #572ee5;
  height: 196px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .social_Media {
    text-align: center;
    margin-bottom: 48px;

    h4 {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 15px;
      color: #000000;
      letter-spacing: 0;
      margin-bottom: 24px;
    }

    .social_Media_Icons {
      display: flex;
      justify-content: center;

      a {
        margin-right: 20px;

        span {
          &.icon_Facebook {
            background: url("/assets/images/icon_facebook.svg");
            background-repeat: no-repeat;
            background-position-x: right;
            background-position-y: center;
            height: 20px;
            width: 20px;
            right: 0;
            display: block;
          }

          &.icon_Twitter {
            background: url("/assets/images/icon-twitter.svg");
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            height: 20px;
            width: 20px;
            display: block;
          }

          &.icon_Instagram {
            background: url("/assets/images/icon_instagram.svg");
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            height: 20px;
            width: 20px;
            display: block;
          }
        }
      }
    }
  }

  .legal p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
  }
}
